<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Articles</h1>
      <p>Our blog has <%= Article.public_count %> articles and counting!</p>
      <%= form_tag(articles_path, method: :get, class: "mb-3") do %>
        <div class="input-group">
          <%= text_field_tag(:search, params[:search], class: "form-control", placeholder: "Search by article name or user name") %>
          <div class="input-group-append">
            <%= submit_tag("Search", class: "btn btn-outline-secondary") %>
            <% if params[:search].present? %>
              <%= link_to "Reset Search", articles_path, class: "btn btn-secondary", style: "margin-left: 5px;" %>
            <% end %>
          </div>
        </div>
      <% end %>
      <table class="table">
        <thead>
          <tr>
            <th>Title</th>
            <th>Description</th>
            <th>User</th>
            <th>Date Created</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @articles.each do |article| %>
            <% unless article.archived? %>
              <tr>
                <td><%= link_to article.title, article %></td>
                <td><%= article.body %></td>
                <td><%= article.user&.name || "No User" %></td>
                <td><%= article.created_at.strftime("%B %d, %Y %H:%M:%S") %></td>
                <td>
                  <%= link_to "Show", article, class: "btn btn-info btn-sm" %>
                  <%= link_to "Edit", edit_article_path(article), class: "btn btn-primary btn-sm" %>
                  <%= link_to "Destroy", article_path(article), method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "btn btn-danger btn-sm", "data-turbo-method": "delete" %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
      <%= link_to "New Article", new_article_path, class: 'btn btn-primary mt-3' %>
      <%= link_to "Manage users", users_path, class: 'btn btn-primary mt-3' %>
    </div>
  </div>
</div>
